extends layout

block content
	h1= title
	p This is not ready.
	form(method="POST")
		p First Name:
		input(type="text", name="firstname", value="Bearcat")
		p Last Name:
		input(type="text", name="lastname", value="Prime")
		p Homeroom Teacher:
		input(type="text", name="homeroom", value="Appleman")
		p Alternate Teacher:
		input(type="text", name="alternate", value="Appleman")
		p Student ID:
		input(type="text", name="sid", value="1234567")
		input(type="submit", name="pass_action", value="Submit")
	ul
		table(border="1",style="width:100%")
			tr
				td
					p First
				td
					p Last
				td
					p Homeroom
				td
					p Alternate
				td
					p Student ID
				td
					p Approve
				td
					p Deny
			each request in arr
				tr
					td
						p=request.firstname
					td
						p=request.lastname
					td
						p=request.homeroom
					td
						p=request.alternate
					td
						p=request.sid
					td
						form(method="POST")
							input(type="hidden", name="id", value=request._id)
							input(type="submit", name="pass_action", value="Accept")
					td
						form(method="POST")
							input(type="hidden", name="id", value=request._id)
							input(type="submit", name="pass_action", value="Deny")