extends layout

block content
    h1= title
    p This is not ready.
    p="Username: "+user.username

    if !request_filed
        form(method="POST")
            p Alternate Teacher:
            select(name="teacher_id")
                each teacher in teachers
                    option(value=teacher._id)=teacher.name
            input(type="submit", name="pass_action", value="Submit")
        ul

    else
        form(method="POST")
            p="Current request filed "+request.date
            p="Alternate Teacher: "+request.teacher_id.name
    a(href='/logout') Log Out